h1{
color: White;
font-weight: bold;
}

.expensetable
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 3px solid #006400;
  font-family: Palatino;
  font-size: 0.9em;
  margin-left:auto; 
  margin-right:auto;
}


.expensetable th, .expensetable td
{
  border: 1px dotted #283593;
  padding: 0.5em;
  text-align: left;
  color: #3F729B;
}

.expensetable th[scope=col] 
{
  color: #F5FFFA; 
  background-color: #3F729B;
}

.expensetable tr.normal th, .expensetable tr.normal td
{
  background-color: #FFFFFF;
  color: black;
}

.expensetable tr.alt th, .expensetable tr.alt td
{
  background-color: #e3f2fd;
  color: black;
}

.expensetable tr:hover th[scope=row], .expensetable tr:hover td
{
  background-color: #AED6F1;
  color: black;
}
a {color: #3e13f7;}
a:hover {color: #9b3822;}
